body {
    background-color: rgba(23, 26, 33, 1);
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #dcdedf;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.nav a:hover {
    color: #fff;
    transition: color 0.2s ease-in-out;
    transform: translateY(-3px);
    transition: 0.2s ease-in-out;
}

.nav a:active {
    color: #1a9fff;
    transition: color 0.2s ease-in-out;
}

.hero_card {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

.hero_card:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 10px 30px rgba(102, 192, 244, 0.1); 
    transform: translateY(-5px);
}

.hero_tag {
    display: inline-block;
    background-color: rgba(102, 192, 244, 0.2);
    color: #66c0f4;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}

.hero_title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 800;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.hero_text {
    color: #acb2b8;
    font-size: 16px;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.hero_buttons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}

.hero {
    padding: 60px 0;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.btn_primary {
    background-color: #107c11;
    background: linear-gradient(to bottom, #a4d007 0%, #536f00 100%);
    color: #fff;
    box-shadow: 0 4px 15px rgba(164, 208, 7, 0.2);
    transition: all 0.2s ease-in-out;
}

.btn_primary:hover {
    background: linear-gradient(to bottom, #bbf00c 0%, #6e9400 100%);
    box-shadow: 0 4px 20px rgba(164, 208, 7, 0.4);
    transition: all 0.2s ease-in-out;
}

.btn_ghost {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.btn_ghost:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
    justify-content: left;
}

.category {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    border-radius: 4px;
    color: #66c0f4;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.category:hover {
    background-color: #66c0f4;
    color: #171a21;
    transition: background-color 0.2s, color 0.2s;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.search {
    background-color: #316282;
    border: 1px solid #102534;
    padding: 8px 14px;
    border-radius: 4px;
    color: #fff;
    outline: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.search:hover {
    background-color: #3d79a1;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.search:focus {
    background-color: #4588b5;
    border-color: #66c0f4;
}

.section_head {
    display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
}

.section_title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.section_link {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgba(102, 192, 244, 0.4);
    padding: 4px 10px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    width: fit-content;
}

.section_link:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    transition: all 0.2s ease-in-out;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
}

footer__title p a {
    color: grey;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.logo__icon {
    background: linear-gradient(135deg, #00ccff 0%, #0077ff 100%);
    color: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 900;
    font-size: 16px;
}